
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f4f4f4;
  color: #333;
  padding: 1rem;
  margin:14px 326px !important;
}

/* Header */
header {
  text-align: center;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 1.8rem;
  color: #2c3e50;
}

/* Overview cards */
.overview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.8rem;
  margin-bottom: 1.5rem;
}

.card {
  background: #fff;
  padding: 1rem;
  border-radius: 0.8rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: center;
}

/* Form section */
.form-section {
  background: #fff;
  padding: 1rem;
  border-radius: 0.8rem;
  margin-bottom: 1.5rem;
}

form {
  display: grid;
  gap: 0.8rem;
}
.section_border {
  max-width: max-content;
  padding:20px 20px 40px 20px;
  border:1px #ccc;
  border-radius: 20px;
  box-shadow: 5px 8px 32px 13px #ddd;
}

form input,
form select,
form button {
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

form button {
  background: #27ae60;
  color: #fff;
  border: none;
  cursor: pointer;
}

form button:hover {
  background: #219150;
}

/* Filters */
.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.filters select,
.filters button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

#ai-insights {
  background: #2980b9;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Transaction list */
.transactions {
  background: #fff;
  padding: 10px 0px 10px 15px;
  border-radius: 0.8rem;
}

.transactions ul {
  /* list-style: none; */
}

.transactions li {
  /* display: flex; */
  justify-content: space-evenly;
  padding: 0.7rem;
  border-bottom: 1px solid #eee;
}

/* Responsive - laptop view */
@media (min-width: 1024px) {
  body {
    max-width: 1000px;
    margin: auto;
  }

  .overview {
    grid-template-columns: repeat(4, 1fr);
  }

  .main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

.expense_item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f6f9;
  padding: 10px 15px;
  margin-bottom: 8px;
  border-radius: 6px;
  font-size: 14px;
}

.amount{
   width:80px;
   font-weight:bold;
}

.type{
   width:80px;
}

.category{
   width:100px;
}

.date{
   width:120px;
}

.note{
   flex:1;
}

.income {
  border-left: 5px solid green;
  background-color: #cceecc;
}
.expense {
  border-left: 5px solid red;
  background-color: #ffeeee;
}